h1{
    font-family: Snell Roundhand, cursive;
    color: #4682B4;
    text-align: center;
    font-size: 80px;
}

.img_1{
    width: 200px;
    height: 200px;
    
}

#img{
    margin-left: 600px;
}

.line{
    margin-left: 200px;
    margin-right: 200px;
}

.subtitle{
    margin-left: 200px;
    color: #1F75FE;
}

.table{
    margin-left: 200px;
}

.riga_1{
    background-color: #4682B4;
}

.total{
    background-color: #E52B50;
}

.line_2{
    margin-left: 160px;
    margin-right: 160px;
}

.subtitle_2{
    margin-left: 600px;
    color: #1F75FE;
}

.lista{
    margin-left: 600px;
}

.line_3{
    margin-left: 130px;
    margin-right: 130px;
}